.homepage__content {
    display: flex;
    width: 1300px;
    margin: 0 auto; 
    flex-direction: column;
}

.homepage__content header {
    display: flex;
}

.header__links {
    margin-bottom: 20px;
}

.homepage__slider-row {
    display: flex;
    box-sizing: border-box;
}