.homepage__content {
    display: flex;
    max-width: 1300px;
    margin: 0 auto; 
    flex-direction: column; 
}

.homepage__content header {
    display: flex;
}

.header__links {
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .homepage__content {
        margin: 0 auto;  
    }
}