.products__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.products__header {
    display: flex;
}

.products__list {
    display: flex;
    justify-content: center;
    max-width: 1300px;
    align-self: center;
    padding: 0 10px;
}

.products__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.products__col {
    display: flex;
    flex-direction: column;
    min-height: 399px;
    width: 25%;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 0 10px;   
}

@media (max-width: 1024px) {
    .products__col {
        display: flex;
        flex-direction: column;
        min-height: 230px;
        width: 33.33%;   
    }

    .products__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        box-sizing: border-box;
        padding: 0px 10px;
    }
}

@media screen and (max-width: 767px) {
    .products__col {
        display: flex;
        flex-direction: column;
        min-height: 230px;
        width: 46.71%;
        margin-bottom: 10px;
        margin-right: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(235, 227, 227);
        border-radius: 4px;   
    }

    .products__row {
        display: flex;
        flex-wrap: wrap;
        padding-left: 10px;
        padding-right: 0px;
        justify-content: space-around;
    }
}

@media (max-width: 374px) {
    .products__col {
        display: flex;
        flex-direction: column;
        min-height: 230px;
        width: 65%;
        margin-bottom: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(235, 227, 227);
        border-radius: 4px;   
    }
}