.products__body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.products__header {
    display: flex;
}

.products__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products__col {
    background-color: red;
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
    margin-right: 10px; 
}