.productcard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.productcard__image {
    display: flex;
    align-self: center;
    padding: 10px;
    height: 230px;
}

.productcard__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 151px;
    padding-left: 20px;
}

.productcard__title {
    display: flex;
    align-self: flex-start;
    padding-top: 5px;
}

.productcard__title h4 {
    word-wrap: break-word;
}

.productcard__price {
    display: flex;
    padding-top: 13px;
}

.productcard__colors {
    display: flex;
    justify-content: space-around;
    padding-bottom: 16px;
    padding-left: 3.8px;
}

.colors__dot {
    display: flex;
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
    margin-right: 10.3px;
    border: 1px solid red;
}

.colors__border {
    border: 2px solid grey;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-spacing: 20px;
}