.productcard {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: rgb(235, 227, 227);
    border-radius: 10px;
    align-items: flex-start;
}

.productcard__image {
    display: flex;
}

.productcard__title {
    display: flex;
}

.productcard__price {
    display: flex;
}

.productcard__colors {
    display: flex;
}