.productcard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(235, 227, 227);
    border-radius: 4px;
}

.productcard__image {   
    display: flex;
    align-self: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 228px;
    width: 100%;
}

.productcard__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 111px;
    width: 100%;
    padding: 27px 10px 11px 10px;
}

.productcard__title {
    display: flex;
    align-self: flex-start;
}

.productcard__price {
    display: inline-block;
}

.productcard__old-price {
    display: inline-block;
    text-decoration: line-through;
    color: grey;
    margin-right: 5px;
}

.productcard__colors {
    display: flex;
}

.colors__dot {
    display: flex;
    height: 19px;
    width: 19px;
    background-color: black;
    border-radius: 50%;
    visibility: visible;
    cursor: pointer;
}
    

.colors__border {
    display: flex;
    border-radius: 50%;
    border: 2px solid grey;
    justify-content: center;
    align-items: center;
    margin-right: 2.5px;
    padding: 3px;
    visibility: hidden;
}

.colors__border:hover {
    visibility: visible;
}

.colors__border--active {
    display: flex;
    border-radius: 50%;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    margin-right: 2.5px;
    padding: 3px;
}

.productcard.popular {
    .productcard__image {
        height: 148px;
        margin-top: 6px;
    }

    .productcard__info {
        height: 135px;
        padding-top: 20px;
    }

    .colors__dot {
        height: 10px;
        width: 10px;
        visibility: visible;
    }

    .colors__border {
        margin-right: 2px;
        visibility: hidden;
    }

    .colors__border--active {
        margin-right: 1.5px;
    }
}

@media (max-width: 1100px) {
    .productcard.popular {
        .productcard__image {
            height: 180px;
        }

        .productcard__info {
            height: 110px;
            padding-top: 10px;
            font-size: 14px;
        }

        .productcard__title {
            margin-bottom: -10px;
        }
    }
}

@media (max-width: 1024px) {
    .productcard {
        padding: 10px;
    }

    .productcard__info {
        display: flex;
        flex-direction: column;
        height: 100px;
        width: 100%;
        font-size: 15px;
        padding: 12px 0px 0px;
    }

    .productcard__image {
        height: 190px;
    }

    .productcard__colors {
        padding-top: 12px;
    }

    .colors__border--active {
        padding: 2px;
    }

    .colors__border {
        padding: 2px;
    }
}

@media screen and (max-width: 767px) {
    .productcard {
        padding: 10px;
    }

    .productcard__image {
        height: 132px;
    }

    .productcard__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100px;
        width: 100%;
        font-size: 15px;
        padding: 14px 0px 0px;
    }

    .colors__dot {
        display: flex;
        height: 10px;
        width: 10px;
        background-color: black;
        border-radius: 50%;
        visibility: visible;
    }

    .colors__border {
        display: flex;
        border-radius: 50%;
        border: 2px solid grey;
        justify-content: center;
        align-items: center;
        margin-right: 1.5px;
        padding: 2px;
        visibility: hidden;
    }

    .colors__border--active {
        display: flex;
        border-radius: 50%;
        border: 2px solid black;
        justify-content: center;
        align-items: center;
        margin-right: 1.5px;
        padding: 2px;
    }

    .productcard.popular {
        .productcard__image {
            height: 135px;
            margin: 0px;
        }

        .productcard__info {
            height: 95px;
            padding-top: 10px;
        }

        .productcard__colors {
            padding-top: 20px;
        }
    }
}