.popup__container {
    display: none;
}

@media (max-width: 1023px) {
    .popup__container.popup__active {
        display: flex;
        position: absolute;
        z-index: 1;
        width: 100%;
        border-bottom: 1px solid;
    }

    .popup__leftside {
        width: 90%;
    }
    .popup__button--close {
        border: none;
        background-color: white;
        width: 50px;
    }

    .popup__button--search {
        border: none;
        color: white;
        background-color: green;
        width: 50px;
    }
}
