.slider__content {
    display: flex;
    width: 100%;
    min-height: 200px;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.slider__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 20px;
}

.slider__title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 7px;
    margin-left: 3px;
}

.slider__switch {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__navlink {
    display: inline-block;
}

.navlink {
    color: #056551;
    font-weight: bold;
    font-size: 14px;
}

.navlink:visited {
    color: #056551;
}

.slider__buttons {
    display: inline-block;
    margin-left: 32px;
}

.slider__buttons button {
    padding: 11px 23px;
    color: #056551;
    border: 1px solid #056551;
    background-color: white;
}

.button-left {
    border-radius: 3px 0px 0px 3px;
}

.button-right {
    border-radius: 0px 3px 3px 0px;
}

.slider__slider-container {
    margin: 0 -8px;
}

.slider__col {
    padding: 0 10px;
}

@media (max-width: 1100px) {
    .slider__content {
        max-width: 960px;
    }
}

@media (max-width: 450px) {
    .slider__content {
        display: flex;
        height: 360px;
        overflow-y: hidden;
        justify-content: flex-start;
    }

    .slider__title {
        font-size: 25px;
        margin: 3px 0px;
    }

    .slider__header {
        margin-bottom: 10px;
    }

    .slider__col {
        padding: 0 5px;
    }

    .slider__switch {
        position: absolute;
        bottom: 0px;
        left: -70px;
    }

    .slider__navlink {
        position: relative;
        left: 235px;
    }

    .slider__buttons {
        margin-left: 27px;
    }

    .slider__buttons button {
        padding: 11px 22px;
    }

    .slider__slider-container {
        margin: 0 -4px;
    }
}

