.filter__box {
    border: 1px solid #056551;
    border-radius: 3px;
    visibility: hidden;
    position: absolute;
}

.filter__box.filter__box-active {
    width: 400px;
    background-color: white;
    margin-top: 10px;
    padding: 20px;
    visibility: visible;
    z-index: 1;
}

.filter__box--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filter__box-list {
    display: flex;
    flex-wrap: wrap;
}

.filter__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    height: 30px; 
    border-radius: 5px;
    border: 2px solid rgba(5, 101, 81, 0.4);
    color: #056551;
    font-weight: bold;
    padding: 0 40px;
    position: relative;
    background-color: white;
}

.filter__box-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.box__button-apply {
    width: 50px;
    height: 30px;
    background-color: white;
    border: none;
    color: #056551;
    font-weight: bold;
    margin-left: auto;
    margin-right: 0;
}

.box__button-clear {
    font-weight: bold;
    color: #b3b3b3;
    background-color: white;
    border: none;
}