.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 65px;
}

.header__search {
    display: flex;
    align-items: center;
}

.header__logo {
    padding: 20px;
    margin-top: 10px;
}

.header__left, .header__right {
    display: flex;
    align-items: center;
}

.header__right--button {
    height: 65px;
    width: 50px;
    border-left: 1px solid #e5e5e5;
    background-color: white;
    position: relative;
}

.header__right a{
    color: black;
    font-weight: bold;
    margin-right: 20px;
}

@media (max-width: 1023px) {
    .header__container {
        height: 50px;
    }
    .header__right a {
        display: none;
    }

    .header__right--button {
        height: 50px;
    }

    .header__hidden--button {
        display: block;
    }

    .header__search {
        display: none;
    }
}