.filters__row {
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    padding: 20px 110px;
}

.filters__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    height: 30px; 
    border-radius: 5px;
    border: 2px solid rgba(5, 101, 81, 0.4);
    color: #056551;
    font-weight: bold;
    padding: 0 40px;
    
}