.filters__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: grey;
    padding: 20px;
}

.filters__box {
    background-color: firebrick;
    border: 2px solid black;
    display: none;
}

.filters__box.active {
    display: block;
}

.filters__moreFilters-button {
    display: none;
}

@media (max-width: 1100px) {
    .filters__moreFilters-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        height: 30px; 
        border-radius: 5px;
        border: 2px solid rgba(5, 101, 81, 0.4);
        color: #056551;
        font-weight: bold;
        padding: 0 40px;
        position: relative;
        background-color: white;
    }
}