.sort__container {
    position: relative;
}

.sort__button {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 30px;
    min-width: 80px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 4px;
    font-weight: bold;
}

.sort__button--chosen {
    background-color: #056551;
    color: white;
}

.sort__hidden {
    visibility: hidden;
    position: absolute;
}

.sort__active {
    position: absolute;
    width: 200px;
    right: 0px;
    visibility: visible;
    z-index: 2;
    background-color: white;
    border: 1px solid;
    border-radius: 3px;
    margin-top: 15px;
    text-align: left;
    font-size: 14px;
    padding: 20px 20px 0;
    color: #111111;
    font-family: "GraphikMedium", Helvetica, Arial;
}

.sort__item {
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
}

@media (max-width: 767px) {
    .sort__active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        max-height: 100vh;
        border-radius: 0;
        border: none;
        z-index: 5;
        margin-top: 0;
    }

    .sort__mobile-background {
        background-color: rgba(0, 0, 0, 0.4);
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 6;
    }
}