.slider-popular__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

.slider-popular__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 40px;
    margin-bottom: 20px;
}

.slider-popular__title {
    font-size: 40px;
    font-weight: bold;
}

.slider-popular__switch {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-popular__navlink {
    display: inline-block;
}

.navlink {
    color: green;
    font-weight: bold;
    font-size: 14px;
}

.navlink:visited {
    color: green;
}

.slider-popular__buttons {
    display: inline-block;
    margin-left: 32px;
}

.slider-popular__buttons button {
    padding: 10px 17px;
    color: green;
    border: 1px solid green;
    border-radius: 3px;
    background-color: white;
}

.slider-popular__slider {
    display: block;
}

.slider-popular__col {
    padding: 0 10px;
}

@media (max-width: 450px) {
    .slider-popular__content {
        display: flex;
        margin: 0 5px;
        height: 360px;
        overflow-y: hidden;
        justify-content: flex-start;
    }

    .slider-popular__title {
        font-size: 25px;
    }

    .slider-popular__col {
        padding: 0px 5px;
    }

    .slider-popular__header {
        margin-bottom: 10px;
        padding-left: 5px;
    }

    .slider-popular__switch {
        position: absolute;
        bottom: 0px;
        left: -70px;
    }

    .slider-popular__navlink {
        position: relative;
        left: 240px;
    }

    .slider-popular__buttons button {
        padding: 10px 20px;
    }
}